{{#> layout title="Insert awesome title for the page here" }}
  <p>
    Template loaded.
    Write your markup here with support for variables, eg: "{{ foo }}"

    ---
    tests for the "if" helper
    ---
    {{# if foo '==' 'foobar' }} == {{/ if }}
    ---
    {{# if foo '!=' 'foo' }} != {{/ if }}
    ---
    {{# if i '<' 10 }} < {{/ if }}
    ---
    {{# if i '<=' 5 }} <= {{/ if }}
    ---
    {{# if i '>' 0 }} > {{/ if }}
    ---
    {{# if i '>=' 5 }} >= {{/ if }}
    ---
    {{# if i '&&' foo }} && {{/ if }}
    ---
    {{# if i '||' foo }} || {{/ if }}
    ---
    {{# if foo 'typeof' 'string' }} typeof {{/ if }}
    ---
    {{# if i '<' 10 '&&' foo '==' 'foobar' }} multiple operators AND {{/ if }}
    ---
    {{# if i '>' 10 '||' foo '==' 'foobar' }} multiple operators OR  {{/ if }}
    ---
    {{# if i '<' 10 '&&' foo '==' 'foobar' '&&' i '==' 5 }} multiple x2 operators AND {{/ if }}
    ---
    {{# if i '>' 10 '||' foo '!=' 'foobar' '||' i '==' 5 }} multiple x2 operators OR  {{/ if }}
  </p>
{{/ layout }}
